@import "./var.scss";

.box {
  width: 100%;
  height: 100%;

  background-image: $theme_bg_image;
  color: #fff;

  display: flex;
  flex-flow: column;

  .header {
    padding: 10px $padding-left-right;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-around;

    & span {
      flex: 1;
    }
  }

  .list {
    overflow-y: scroll;
    height: 100%;

    .scrollbar {
      height: inherit;

      .tip {
        height: inherit;
        width: max-content;
        font-size: 60px;
        margin: 0 auto;

        // display: flex;
        // align-items: center;
        // justify-content: center;

        filter: blur(2px);
      }

      .image_info {
        display: flex;
        align-items: center;
        justify-content: space-around;

        height: 50px;
        background: rgba(255, 255, 255, 1);
        color: #262626;

        margin-bottom: 2px;
        padding: $box_padding;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background-color: hsl(240 4.8% 95.9%/0.5);
        }

        span {
          flex: 1;
        }

        .down_file {
          color: #f03e3e;
          font-size: 12px;
        }

        .done {
          cursor: pointer;
        }
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px $padding-left-right;

    .action {
      align-items: center;

      .quality_box {
        display: inline-block;
        margin: 0 5px;

        .silder {
          margin: 5px;
          border-radius: $input_radius;
          padding: $input_padding;

          width: 45px;
          font-size: $input_font_size;
          line-height: $input_line_height;
          border: $input_border;

          &[type="number"]::-webkit-inner-spin-button,
          &[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &[type="number"] {
            -moz-appearance: textfield;
          }
        }

        .quality_num {
          display: inline-block;
          width: 35px;
          text-align: left;
        }
      }

      .btn {
        display: inline-block;

        cursor: pointer;
        margin: 0 5px;
        border-radius: $btn_radius;
        border: 1px solid #fff;
        padding: 2px 5px;

        // &:hover {
        //   color: #80b9ea;
        //   border: 0.5px solid #80b9ea;
        // }
      }
    }
  }
}
